<nav>
  <div><a class="navbar-company" href="/">RESTAURANT</a></div>
  <ul class="navbar-links">
    <div class="menu">
      <li><a href="/users">LOGIN</a></li>
      <li><a href="/orders">CART</a></li>
      <li><a href="/items">MENU</a></li>
    </div>
  </ul>
</nav>