<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css"/>

  <!-- App JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/cart.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <h2 class="menu-title">MENU</h2>

  <div class="menu-sections">

    <!-- <article class="dish-content">
      <img src="/images/cakes.jpg">

      <div class="menu-column">
        <div class="dish-price">
          <h2 class="dish-title">Cake</h2>
          <h2>$100</h2>
       </div>
       <div class="dish-description">
          <h4>Cold and soggy</h4>
        </div>
        <div class="dish-buttons">
          <button class="add-button" type="submit">ADD TO CART</button>
        </div>
      </div>
    </article>

    <article class="dish-content">
      <img src="/images/cola.jpg">

      <div class="menu-column">
        <div class="dish-price">
          <h2 class="dish-title">Coke</h2>
          <h2>$100</h2>
        </div>
        <div class="dish-description">
          <h4>Warm and flat</h4>
        </div>
        <div class="dish-buttons">
          <button class="add-button" type="submit">ADD TO CART</button>
         </div>
      </div>
    </article>

    <article class="dish-content">
      <img src="/images/koala.jpg">

      <div class="menu-column">
        <div class="dish-price">
          <h2 class="dish-title">Koala</h2>
          <h2>$100</h2>
        </div>
        <div class="dish-description">
          <h4>Perfectly roasted</h4>
        </div>
        <div class="dish-buttons">
          <button class="add-button" type="submit">ADD TO CART</button>
        </div>
      </div>
    </article> -->
  </div>


  <!-- <div>
    <button id="fetch-users">Fetch ITEMS via AJAX</button>
    <ul id="items"></ul>
  </div> -->

</body>

</html>
