.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background-image: url(/images/home-page.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background-color: rgb(31, 27, 27);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//////////////////////////////////// MENU
.menu-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  max-width: 50%;
}

.dish-content {
  border: none;
  display: flex;
  background-color: white;
  width: 100%;
}

img {
  max-width: 25%;
  gap: 1em;
  height: auto;
}

.menu-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.dish-title {
  color: rgb(90, 73, 41);
}

.dish-price {
  display: flex;
  justify-content: space-between;
  color: black;
}

.dish-buttons {
  display: flex;
  justify-content: center;
}

.add-button {
  background-color: rgb(167, 135, 89);
  padding: 5px;
  color: rgb(0, 0, 0);
  opacity: 0.6;
  border: none;
}

.add-button:hover {
    opacity: 1;
  }

//////////////////////////////////////// ORDERS
.order-sections {
    width: 50%;
    background-color: white;
}

.order-sections form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.order-content {
  display: flex;
}

.menu-title {
  font-size: 30px;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}