body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background-image: url(/images/home-page.jpg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// MENU
.menu-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  margin-top: 100px;
  max-width: 50%;
  margin-bottom: 10%;
}

.dish-content {
  border: 2px solid rgb(222, 219, 219);
  display: flex;
  background-color: white;
  width: 100%;
}

img {
  max-width: 25%;
  gap: 1em;
  height: auto;
}

.menu-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.dish-title {
  color: red;
}

.dish-price {
  display: flex;
  justify-content: space-between;
  color: black;
}

.dish-buttons {
  display: flex;
  justify-content: center;
}

.add-button {
  background-color: red;
  padding: 5px;
  color: white;
  border: none;
}

.add-button:hover {
    background-color: rgb(252, 200, 105);
  }

//ORDERS

.order-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    margin-top: 10%;
    max-width: 75%;
    margin-bottom: 10%;
}