* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    width: 100%;
    padding: 20px;
    background-color: rgb(222, 219, 219);
    // color: #FFFFFF;
    position: fixed;
    font-size: 30px;
}

.menu {
    display: flex;
    gap: 1em;
}

a {
    color: red;
}
